body {
    margin: 50px;
}

/* ポラロイド風 */
ul.results
{
    list-style: none;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.list {
    min-height: 300px;
    background: #fff;
    padding: 1.5rem 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

div.img {
    width: 100%;
    height: 154px;
}

div.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

summary.title {
    line-height: 1.6;
    color: #333;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9a9696;
}

.hashTag {
    /* font-weight: bold; */
    font-size: 1.2rem;
}

summary:hover {
    opacity: 0.7;
}

.ing,
.ins,
.memo {
    font-size: 15px;
    line-height: 20px;

    padding-bottom: 15px;
}